HTML{
    scroll-behavior: smooth;
}

body{
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    margin: 0;
    font-weight: 100;
    
}


.header{
    position: absolute;
    top: 16px;
    right: 8px;
    left: 8px;
    bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    height: 75px;
    padding-left: 80px;
    padding-right: 90px;
    border-bottom: 1px solid #d5ecc6;
    box-shadow: 0px 15px 0px rgb(249, 249, 248);
    height: 75px; 
}

.header a{
    color: black;
    text-decoration: none;
    margin-left: 4px;
    margin-right: 4px;   
}

.menu a:hover {
    color: rgb(11, 116, 46);
    border-bottom: 4px solid rgb(11, 116, 46);
    transition: all 225ms ease-in-out;
}

.menu{
    padding-top: 35px;
    font-size: 15px;
}

.img{
    width: 200px;

}

.recipe-day{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 100px; 
    padding-left: 80px;
    padding-right: 80px;
}

.spaghetti-img{
    width: 100%;
    height: 250px;
    border-radius: 8px;
    object-fit: cover;
    object-position: unset;
}

.daten{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.time{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-top: 35px;
    font-size: 20px;
    color: grey;
    background-color: #edf5f1;
    width: 190px;
    border-radius: 8px;
    margin-right: 50px;
}

.icon{
    width: 25px;
    height: 25px;
    margin: 10px;
}

.rezept{
    
    padding-left: 80px;
    padding-right: 80px;
}

.person{
    border: 0px solid #d5ecc6;
    margin-left: 20px;
}

.portions{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 50px;
}

.button{
    background-color: green;
    color: white;
    width: 184px;
    height: 46px;
    font-size: 16px;
    border: 1px solid #797979;
    margin-left: 270px;
}

.button a{
    color: white;
    text-decoration: none;
}

button:hover{
    font-size: 20px;
    transition: 225ms;
}

p:nth-child(odd) {
    background-color: #edf5f1;;
  }

p:hover {
    background-color: #ddd;
}


.tab{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: start;
    padding-left: 40px;
}

.deco{
    border-radius: 20px;
    height: 30px;    
}

p{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
}

h1{
    font-family: 'Raleway', sans-serif;
    margin-top: 50px;
    font-weight: 400;
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 34px;
    padding-top: 30px;
}

.color1{
background-color: #2c4136;
}

.zubereitung{
display: flex;
justify-content: flex-start;
align-items: flex-start;
flex-direction: row;
margin-top: 35px;
margin-bottom: 35px;
font-size: 20px;
color: grey;
border-radius: 8px;
}

.time2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    font-size: 20px;
    color: grey;
    background-color: #edf5f1;
    border-radius: 8px;
    margin-right: 35px;
    }

.text{
    color: grey;
}

.marta-img{
    border-radius: 100%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 35px;
}

.marta{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 100px;
    margin-top: 40px;
}

.impressum{
    background-color: rgb(58, 52, 49);
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-left: 80px;
    padding-right: 80px;
}

.impressum a{
    color: white;
    text-decoration: none;
    margin: 10px;
}

.impressum a:hover{
    color: rgb(253, 254, 254);
    border-bottom: 4px solid rgb(255, 255, 255);
    transition: all 225ms ease-in-out;
}

.impressum1{
    background-color: rgb(58, 52, 49);
}

.impressumend{
    color: rgb(189, 188, 188);
    text-decoration: none;
    text-align: center;
    font-size: 12px;
}

.impressumend a{
    color: rgb(189, 188, 188);
    font-size: 12px;
}

@media (max-width: 1000px) {

    .menu{
    display: none;
    }

    .recipe-day{
        padding-top: 80px;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header{
        padding-left: 20px;
        height: 55px;
    }

    .img{
        width: 150px;
    }

    h1{
        margin-top: 15px;
        text-align: center;
    }

    .daten{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 10px;
            padding-right: 10px;
        }
    

    .time{
        margin-top: 5px;
        font-size: 12px;
        width: 125px;
        margin-right: 9px;
    }

    .icon{
        width: 18px;
        height: 18px;
    }

    .rezept{
        padding-left: 10px;
        padding-right: 10px;
    }

    .portions{
        justify-content: space-between;
    }

    .zutaten{
        width: 200px;
    }

    .button{
        margin-top: 0px;
        margin-left: 20px;
    }

    .table{
        margin-bottom: 40px;
    }

    .zubereitung{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .time2{
        margin-top: 5px;
        font-size: 12px;
        margin-right: 9px;
    }

    .place{
       margin-right: 10px; 
    }

    .text{
        margin-bottom: 40px;
    }

    .marta{
        justify-content: center;
        margin-bottom: 35px;
        margin-top: 25px;
    }
    
    }