HTML{
    scroll-behavior: smooth;
}

body{
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    margin: 0;
    font-weight: 100;
    
}

.header{
    position: absolute;
    top: 16px;
    right: 8px;
    left: 8px;
    bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    height: 75px;
    padding-left: 80px;
    padding-right: 90px;
    border-bottom: 1px solid #ece1c6;
    box-shadow: 0px 15px 0px rgb(249, 249, 248);
}

.header a{
    color: black;
    text-decoration: none;
    margin-left: 4px;
    margin-right: 4px;  
}

.menu a:hover {
    color: rgb(11, 116, 46);
    border-bottom: 4px solid rgb(11, 116, 46);
    transition: all 225ms ease-in-out;
}

.menu{
    padding-top: 35px;
    font-size: 15px;
    display: flex;
    align-content: center;
    align-items: center;
}

.spaghetti-img {
    width: 100%;
    height: 250px;
    border-radius: 8px;
    object-fit: cover;
    object-position: unset;
}

.bg{
    padding-top: 150px;
    display: flex;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 40px;
}

.croissant-img{
    width: 430px;
    height:250px;
    border-radius: 8px;
    object-fit: cover;
}

.suchbutton{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: green;
    color: white;
    height: 23px;
    font-size: 16px;
    border: 1px solid #797979;
    text-decoration: none;
    transition: font-size 225ms;
}

.suchbutton:hover {
    background-color: white;
    color: green;

}


.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    background-color: green;
    color: white;
    margin-top: 68px;
    width: 184px;
    height: 46px;
    font-size: 16px;

    border: 1px solid #797979;
    text-decoration: none;

    transition: font-size 225ms;
}

.button:hover {
    font-size: 20px;
}


.recipe_day{
    margin-left: 30px;
    font-size: 17px;
    color: grey; 
    
}

b{
    font-size: 22px;
    color: black;
    font-weight:400;

}

.recipes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 30px;
    padding-left: 80px;
    padding-right: 80px;
}

h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 24px;
    padding-top: 30px;
}

.recipe{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 15px;
    font-weight: 400; 
}

.recipe-img{
    width: 200px;
    height: 200px;
    border-radius: 8px;
    object-fit: cover;
    margin-bottom: 4px;
}

.recipe-img:hover{
    opacity: 0.6;
}

.new{
    padding-bottom: 50px;
    background-color: rgba(245, 241, 230, 0.948);
}

.tips{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.news{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 30px;
    margin-bottom: 60px;
}

.tips-text{
    margin-right: 30px;
    font-size: 17px;
    color: gray;
}

.wok-img{
    width: 200px;
    height: 200px;
    border-radius: 8px;
}

.impressum1{
    background-color: rgb(58, 52, 49);
}

.impressumend{
    color: rgb(189, 188, 188);
    text-decoration: none;
    text-align: center;
    font-size: 12px;
}

.impressumend a{
    color: rgb(189, 188, 188);
    font-size: 12px;
}

.impressum{
    background-color: rgb(58, 52, 49);
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-left: 80px;
    padding-right: 80px;
}

.impressum a{
    color: white;
    text-decoration: none;
    margin: 10px;
}

.impressum a:hover{
    color: rgb(253, 254, 254);
    border-bottom: 4px solid rgb(255, 255, 255);
    transition: all 225ms ease-in-out;
}

@media (max-width: 1000px) {

    .menu{
    display: none;
    }

    .bg{
        padding-top: 100px;
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }

    .header{
        padding-left: 20px;
        height: 55px;
    }

    .img{
        width: 150px;
    }

    .croissant-img{
        height: 220px;
        width: 380px;
    }

    .recipe_day{
        margin-top: 20px;
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .button{
        margin-top: 0px;
    }
        
    .new{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;
    }

    .recipes{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .recipe{
        margin-bottom: 30px;
    }

    h2{
        margin: 15px;
        text-align: center;
    }

    .news{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .tips-text{
        margin-right: 0px;
        margin-top: 20px;
    }
    
}